
doctype html
html(lang="en")
    head
        title smatchups
        meta(charset="utf-8")
        meta(name="author", content="eyebraus")

        //- Stylesheets
        link(rel="stylesheet", type="text/css", href="/bower/bootstrap/dist/css/bootstrap.min.css")
        link(rel="stylesheet", type="text/css", href="/app/css/style.css")

    body
        section#smatchups

    footer
        //- React.js scripts
        script(src="/app/bundle.js")
