
doctype html
html(lang="en")
    head
        title smatchups
        meta(charset="utf-8")
        meta(name="author", content="eyebraus")

        //- Stylesheets
        link(rel="stylesheet", type="text/css", href="/bower/bootstrap/dist/css/bootstrap.min.css")
        link(rel="stylesheet", type="text/css", href="/bower/fontawesome/css/font-awesome.min.css")
        link(rel="stylesheet", type="text/css", href="/app/css/style.css")

        //- Fonts
        link(rel='stylesheet', type='text/css', href='https://fonts.googleapis.com/css?family=Fjalla+One')
        link(rel='stylesheet', type='text/css', href='https://fonts.googleapis.com/css?family=Lato:400,400italic,700,700italic,700,700italic')

    body
        section#smatchups

    footer
        //- Google Maps (needed for react-google-maps components)
        script(src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=geometry,drawing,places", type="text/javascript")

        //- React.js scripts
        script(src="/app/bundle.js")
