
body
    font-family 'Lato' sans-serif

h1, h2, h3, h4, h5, h6
    font-family 'Fjalla One' sans-serif

.beacons-section-filters
    margin-bottom 20px

.google-maps-search-box
    border 1px solid transparent
    border-radius 1px
    box-shadow 0 2px 6px rgba(0 0 0 0.3)
    box-sizing border-box
    -moz-box-sizing border-box
    font-size 14px
    height 32px
    margin-top 27px
    outline none
    padding 0 12px
    text-overflow ellipsis
    width 400px

.section-header
    margin 20px 0
    text-align center

.toggle-image-button
    width 100%
